apiVersion: v1
kind: Service
metadata:
  name: devenv-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: devenv-{{.Name}}
    service: governing
spec:
  clusterIP: None
  selector:
    app: devenv-{{.Name}}
  ports:
  - name: ssh
    port: 22
    targetPort: 22
    protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: devenv-ssh-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: devenv-{{.Name}}
    service: ssh
spec:
  type: NodePort
  selector:
    app: devenv-{{.Name}}
  ports:
  - name: ssh
    port: 22
    targetPort: 22
    nodePort: {{.NodePort}}
    protocol: TCP
---
{{- if ne .HTTPPort 0}}
apiVersion: v1
kind: Service  
metadata:
  name: devenv-http-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: devenv-{{.Name}}
    service: http
spec:
  type: ClusterIP
  selector:
    app: devenv-{{.Name}}
  ports:
  - name: http
    port: {{.HTTPPort}}
    targetPort: {{.HTTPPort}}
    protocol: TCP
{{- end}}
