apiVersion: v1
kind: ConfigMap
metadata:
  name: startup-scripts-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: devenv-{{.Name}}
data:
  # Templated script - processed with config values
  startup.sh: |
    {{getTemplatedScript "startup.sh" . | indent 4}}
  
  # Static utility scripts - included as-is
  run_with_git.sh: |
    {{getStaticScript "run_with_git.sh" | indent 4}}
  
  # Static requirements file
  requirements.txt: |
    {{getStaticScript "requirements.txt" | indent 4}}

  # User setup script
  setup.sh: |
    {{getTemplatedScript "user-setup.sh" . | indent 4}}
