apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: devenv-{{.Name}}
  namespace: {{.Namespace}}
  labels:
    app: devenv-{{.Name}}
    component: devenv
spec:
  serviceName: devenv-{{.Name}}
  replicas: 1
  selector:
    matchLabels:
      app: devenv-{{.Name}}
  template:
    metadata:
      labels:
        app: devenv-{{.Name}}
        component: devenv
    spec:
      {{- if gt (len .TargetNodes) 0}}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/hostname
                    operator: In
                    values:
                    {{- range .TargetNodes}}
                      - {{.}}
                    {{- end}}
      {{- end}}

      {{- if gt (.GPU) 0}}
      priorityClassName: dev-gpu
      {{- end}}
      
      {{- if .IsAdmin}}
      serviceAccountName: k8s-launcher
      {{- end}}

      containers:
      - name: {{.Name}}
        image: {{.Image}}
        workingDir: "/src"
        securityContext:
          # Root required to configure new user and setup sshd
          runAsUser: 0
        command: ["/bin/bash", "/scripts/startup.sh"]
        ports:
        - containerPort: 22
          name: ssh
        {{- if ne .HTTPPort 0}}
        - containerPort: {{.HTTPPort}}
          name: http
        {{- end}}

        readinessProbe:
          tcpSocket:
            port: 22
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          failureThreshold: 6

        env:
        - name: GITHUB_TOKEN
          valueFrom:
            secretKeyRef:
              name: github-token
              key: token
              optional: true
        envFrom:
        - configMapRef:
            name: env-vars-{{.Name}}

        resources:
          limits:
          {{- if gt (.GPU) 0}}
            nvidia.com/gpu: "{{.GPU}}"
          {{- end}}
          {{- if ne (.CPU) "unlimited"}}
            cpu: "{{.CPU}}"
          {{- end}}
          {{- if ne (.Memory) "unlimited"}}
            memory: "{{.Memory}}"
          {{- end}}
          requests:
          {{- if gt (.GPU) 0}}
            nvidia.com/gpu: {{.GPU}}
          {{- end}}
          {{- if ne (.CPURequest) "unlimited"}}
            cpu: "{{.CPURequest}}"
          {{- end}}
          {{- if ne (.MemoryRequest) "unlimited"}}
            memory: "{{.MemoryRequest}}"
          {{- end}}
            
        volumeMounts:
        - name: dev-storage
          mountPath: /home/{{.Name}}
        - name: dev-linuxbrew  
          mountPath: /home/linuxbrew
        - name: startup-scripts
          mountPath: /scripts
          readOnly: true
        {{- range .Volumes}}
        - name: {{.Name}}
          mountPath: {{.ContainerPath}}
        {{- end}}

      volumes:
      - name: dev-storage
        hostPath:
          path: {{.HomeDirMountBase}}/{{.Name}}/homedir
          type: DirectoryOrCreate
      - name: dev-linuxbrew
        hostPath:
          path: {{.HomeDirMountBase}}/{{.Name}}/linuxbrew
          type: DirectoryOrCreate
      - name: startup-scripts
        configMap:
          name: startup-scripts-{{.Name}}
          defaultMode: 0755
      {{- range .Volumes}}
      - name: {{.Name}}
        hostPath:
          path: {{.LocalPath}}
          type: DirectoryOrCreate
      {{- end}}
